# SPDX-FileCopyrightText: 2024 Frans van Dorsselaer
#
# SPDX-License-Identifier: MIT

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.gitmodules      text eol=lf
.editorconfig    text

.github/workflows/runtime-*.yml   text eol=lf

*.txt       text
*.md        text
*.license   text
*.json      text
*.yml       text
*.config    text

*.sln      text
*.csproj   text
*.cs       text eol=crlf
*.props    text
*.targets  text

libc/*.c   text eol=lf

*.razor   text
*.html    text
*.css    text
