# SPDX-FileCopyrightText: 2024 Frans van Dorsselaer
#
# SPDX-License-Identifier: MIT

---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

# This file requires LF line endings, as it is used in cross-platform GitHub action hashes.

name: Runtime win-x64

on:
  workflow_dispatch:
  workflow_call:

env:
  RUNTIME: win-x64

permissions:
  contents: read
  actions: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Configure
        run: >
          cmake
          -S xmss-library
          -B build
          -DBUILD_SHARED_LIBS=ON
          -DXMSS_C99_COMPATIBLE=OFF
          -DXMSS_SHAKE256_256=OverrideInternal
          -DXMSS_HASH_OVERRIDE_SOURCES="../../libc/libc.c"
          -DCMAKE_C_FLAGS="/Oi- /GS- /Gs8192"
          -DCMAKE_SHARED_LINKER_FLAGS="/NODEFAULTLIB /NOENTRY"
          -A x64

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        working-directory: build
        run: ctest --build-config Release

      - name: Copy artifact
        run: |
          mkdir "Xmss\runtimes\${{ env.RUNTIME }}\native"
          copy build\src\Release\xmss.dll "Xmss\runtimes\${{ env.RUNTIME }}\native\"

      - name: Save runtime cache
        id: save-runtime-cache
        uses: ./.github/actions/save-runtime-cache
        with:
          runtime: ${{ env.RUNTIME }}
